In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas

zoo_animals = pandas.read_csv(r'C:\Users\priyu\matplotlib\zoo_animals.csv')
class_lookup = pandas.read_csv(r'C:\Users\priyu\matplotlib\class_lookup.csv')

In [4]:
zoo_animals

   animal  class_num
0       F          1
1       G          1
2       H          2
3       I          3
4       J          5
5       K          2
6       L          3
7       M          4
8       N          1
9       O          5
10      P          4
11      Q          4
12      R          5
13      S          2

In [5]:
class_lookup

   class_num class_type
0          1          A
1          2          B
2          3          C
3          4          D
4          5          E